# Ignore macOS system files
.DS_Store

# Ignore virtual environment folder
venv/

# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Ignore environment variables file
.env
